body{
  background-color: #ecf0f1;
}
.App {
  text-align: center;
  min-height: 100vh;
  background-color: #ecf0f1;
  /* font-family: 'Comfortaa', cursive; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.cra{
  min-width: 100%;
  margin-bottom: 15px;
  
}
.status{
  min-width: 100px;
  margin-top: 5px;
}

.taches{
  min-width: 35vh;
  align-items: center;
}

#user{
  margin-left: 0px;
  color: white;
}
#weekend{
  background-color: black;
}
#table{
  margin-top: 100px;
  border: none;
}
.tr{
  border: none;
}
.td
{
  border: none;
}
.nav{
  min-width: 100%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.jumbotron{
  background-color: #485460;
}
.App-link {
  color: #61dafb;
}

.container{
  margin-top: 5px;
  min-width: 100%;
  color: black;
}
#table{
  border: 0;
  border-collapse : collapse;
}
.default_total{
  background-color: cadetblue;
}
.valid_total{
  background-color: cadetblue;
  color:green;
  border-color: green;
  align-items: center;
}
.invalid_total{
  background-color: cadetblue;
  color:red;
  border-color: red;
  align-items: center;
}
.addButton{
  margin-top: 50px;
}
.logo{
margin-top: 0;
}
.table{
  margin-top: 50px;
}
#header{
  background-color: #b2bec3;
  color:black;
}
.footer{
  margin-top: 50px;
}
.cra{
  width: 50px;
 overflow-x: scroll;
 align-items: center;
}
h1{
  margin-top: 125px;;
  color: black;
}
.uc{
  margin-top: 150px;
}
h2{color: white;
margin-top: 125px;}
.lmonth{
  
  margin-top: 25px;
  
}

input{
  text-align:center;
}
#t_profil{
  max-width: 80%;
  color: black;
  margin-top: 100px;
  text-align: center;
  

}
#Sum{
  width: 50px;
  color: black;
}
.total{
  background-color: white;
  color:black
}
.logform
{
  margin: 100px auto;
  min-height: 70vh;
  width: 50vh;
  align-items: center;
  color : black;
  border-radius: 10px 10px 10px 10px ;
}
form{
margin-top: 10px;
margin-left: 15px;
margin-right: 15px;
}
.lab{
  margin-top: 15px;
}
#submit{
  margin-top: 75px;
}
.isWeekEnd{
  background-color: black !important;

}

.profilrow{
  margin-top: 150px;
}
.profil{
  text-align: center;
}
.headprofil{
  background-color: #ff9f43;
  color: black;
  

}
.changepwd {
  margin-top: 75px;
}
.headrow{
  height: 40px;
  border-radius: 5px 5px 5px 5px;
}
.modal_items_position{
  text-align: left;
  background-color: #ecf0f1;
}
.modalheader
{
  background-color: #ecf0f1;
}
.modalfooter
{
  background-color: #ecf0f1;
}

.error{
  margin-top: 15px;
  color: red;
}
.success{
  margin-top: 15px;
 color:green 
}
.warning{
  margin-top: 15px;
 color:orange 
}

.view-cra{
  margin-top: 75px;
}
.bas{
  color:red;
  font-weight: bolder;
}
.assezmoyen{
  color:orangered;
  font-weight: bolder;
}
.moyen{
  color: orange;
  font-weight: bolder;
}
.haut{
  color: green;
  font-weight: bolder;
}
.conges{
  color:white
}
.conges_container{
  margin-top: 50px;
}
#navbarDropdown,#logout,#profil,#user{
  color: white;
  font-size: 14px;
  margin-top: 2px;
}
#profil{
  color:white;
  font-size: 14px;
  margin-top: 2px;
}
#navbar{
  height: 40px;
}
#logo-nav{
  border-radius: 5px 5px 5px 5px;
  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

